#mainsplash {
    height: 200px;
    width: 40vw;
    background-color: white;
    outline: 3px solid white;
    border: 2px solid black;
    z-index: inherit;
    display: block;
    opacity: 0;
    margin-left: 30vw;
    animation-name: fallingbox;
    animation-delay: 1.5s;
    animation-duration: .5s;
    animation-fill-mode: forwards;
}

#button {
    height: 50px;
    width: 200px;
    background-color: black;
    outline: 3px solid black;
    border: 1px solid white;
    z-index: 6000;
    text-align: center;
    margin: auto;
    margin-top: 10px;
    cursor: pointer;
}

span {
    display: block;
    padding-top: 13px;
    margin: auto;
}

h1{
    color: black;
    font-size: 50px;
    margin: auto;
    margin-top: 35px;
}

#cover {
    height: 100vh;
    width: 100vw;
    position: absolute;
    z-index: 4000;
    margin-top: -22px;
    display: none;
    animation-name: slowblur;
    animation-duration: 1.5s;
    animation-fill-mode: forwards;
}

@keyframes slowblur {
    from {background-color: rgba(0, 0, 0, 0);}
    to {background-color: rgba(0, 0, 0, 0.8);}
}

@keyframes fallingbox {
    0% {opacity: 0;}
    1% {margin-top: -30vh;}
    30% {opacity: .5;}
    50% {opacity: 1;}
    70% {margin-top: 40vh;}
    100% {margin-top: 30vh; opacity: 1;}
}
