<div id="top">
    <div id="deck">
        <div id="talon" class="slot" (click)="checkTalon()">
            <app-card></app-card>
        </div>
        <div id="waste" class="slot"></div>
    </div>
    <div id="foundation">
        <div id="diamond" class="slot"
            (dragover)="allowDrop($event)"
            (drop)="dropHere($event)"></div>
        <div id="heart" class="slot"
            (dragover)="allowDrop($event)"
            (drop)="dropHere($event)"></div>
        <div id="spade" class="slot"
            (dragover)="allowDrop($event)"
            (drop)="dropHere($event)"></div>
        <div id="club" class="slot"
            (dragover)="allowDrop($event)"
            (drop)="dropHere($event)"></div>
    </div>
</div>
<div id="tableau" >
    <div id="col1" class="slot"
    (dragover)="allowDrop($event)"
    (drop)="dropHere($event)"></div>
    <div id="col2" class="slot"
    (dragover)="allowDrop($event)"
    (drop)="dropHere($event)"></div>
    <div id="col3" class="slot"
    (dragover)="allowDrop($event)"
    (drop)="dropHere($event)"></div>
    <div id="col4" class="slot"
    (dragover)="allowDrop($event)"
    (drop)="dropHere($event)"></div>
    <div id="col5" class="slot"
    (dragover)="allowDrop($event)"
    (drop)="dropHere($event)"></div>
    <div id="col6" class="slot"
    (dragover)="allowDrop($event)"
    (drop)="dropHere($event)"></div>
    <div id="col7" class="slot"
    (dragover)="allowDrop($event)"
    (drop)="dropHere($event)"></div>
</div>
