#timer {
    float: left;
    margin-left: 5%;
    background-color: black;
    display: block;
}

#restart {
    float: right;
    margin-right: 5%;
    background-color: black;
    display: block;
}

h1 {
    display: block;
}